[run]
branch = True
source = serviceping
omit =
    tests/*
    .tox*
    /usr*
    setup.py
    *egg*
    .venv/*
    .tox/*
    test/*
cover_pylib = False

[report]
ignore_errors = True
exclude_lines =
    pragma: no cover
    ^def test_
precision = 1
show_missing = True